html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  background-color: #FEF6EE;
  font-family: Arial, sans-serif, "微軟正黑體";
}
.container {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  width: 100%;
}
.center {
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 500px;
  }
}